name: learn-github-actions
on:
  pull_request:
    branches:
      - main
      - "releases/**"
jobs:
  upgrade-runner:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Update runner
        run: |
          sudo apt-get update
          sudo apt-get upgrade
  check-bats-version:
    needs: upgrade-runner
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Check out Node and npm
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: npm install -g bats
      - run: bats -v
  start-web-server:
    needs: [upgrade-runner, check-bats-version]
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Check out Node and npm
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: npm install &
      - run: npm start &
