name: run-cypress-tests
on:
  pull_request:
    branches:
      - main
      - "releases/**"
jobs:
  run-cypress-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Ubuntu update and upgrade
        run: |
          sudo apt-get update
          sudo apt-get upgrade

      - name: Checkout git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.4.2

      - name: Checkout Node and npm
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4.4.0
        with:
          node-version: "22"
      - run: npm install

      - name: Checkout Cypress and run e2e tests
        uses: cypress-io/github-action@2cc692b79ac956235eff1a8fe6c33b462f3c9dc6 #v6.10.2
        with:
          browser: chrome
          start: npm run start
          # Wait for the local server to be up
          wait-on: "http://localhost:8080"
